
.sw-slider-captcha-track {
    width: 100%;
    height: 50px;
    background: #e5e5e5;
    position: relative;
    border-radius: 8px;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 4px;
        background: #ccc;
        margin-top: 23px;
    }

    &.sw-verified {
        background: #c7f7c3;
        transition: background 0.3s;
    }
}

.sw-slider-captcha-handle {
    width: 50px;
    height: 50px;
    background: #888;
    position: absolute;
    left: 0;
    top: 0;
    cursor: grab;
    border-radius: 8px;
    transition: background 0.2s;

    &:active {
        cursor: grabbing;
        background: #666;
    }
}

/* Screenreader fallback */
.sw-slider-captcha-wrapper input[type='checkbox'],
.sw-slider-captcha-wrapper .sw-sr-only {
    position: absolute !important;
    left: -9999px !important;
}
